*/.settings
**/target
**/node_modules
/spark-warehouse
/.settings
/target
*.project
*.classpath
*.idea
derby.log
/derby.log
.DS_Store1
**/build
**/bin
*.log*
.vscode
allure-results/
# exclude logs/
logs/
build/
# exclude screenshot
screenshot/
output/
.gradle/

#
# Project specific excludes
#

tomcat

#
# Default excludes
#

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
#*.zip
*.war
*.ear
*.sar
*.class

# IntelliJ project files
*.iml
*.iws
*.ipr
.idea/

# eclipse project file
.settings/
.classpath
.project

# NetBeans specific
nbproject/private/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag
